progress-bar {

  .progress-outer {
      width: 95%;
      margin: 10px 2%;
      padding: 3px;
      text-align: center;
      background-color: #f4f4f4;
      border: 1px solid #dcdcdc;
      color: #fff;
  }

  .progress-inner {
      min-width: 0%;
      white-space: nowrap;
      overflow: hidden;
      padding: 5px;
  }
  .progress-color{
    background-color: lightgreen;

  }

}
